.navbar-nav a { color: var(--blue); }

.bg-header {
  background-image: url("../images/people\ semi\ circle.jpg"); 
  padding: 350px 0;
}

.karen-vittorio h2, 
.karen-vittorio h3 {
  color: var(--blue);
}

.lou-cyr h2, 
.lou-cyr h3 {
  color: var(--purple);
}

.susanne-roberts h2, 
.susanne-roberts h3 {
  color: var(--pink);
}

.murle-pitts h2, 
.murle-pitts h3 {
  color: var(--red);
}

.ivonne-sorto h2, 
.ivonne-sorto h3 {
  color: var(--orange);
}

.rebecca-morrow h2, 
.rebecca-morrow h3 {
  color: var(--green);
}

.nicholas-gainey h2, 
.nicholas-gainey h3 {
  color: var(--blue);
}

.cody-mott h2, 
.cody-mott h3 {
  color: var(--purple);
}