:root {
  --white: #fff;
  --black: #000;
  --parkway-light: #006600;
  --parkway-dark: #003300;
  --green: #54b848;
  --blue: #0c98f2;
  --purple: #582cd7;
  --pink: #ac166f;
  --red: #b90a1b;
  --orange: #f28d3f;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
}

*,
::after,
::before {
  box-sizing: border-box;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a { text-decoration: none; }

img {
  width: 100%;
  max-width: 100%;
  vertical-align: middle;
  border-style: none;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.btn {
  display: flex;
  align-items: center;
  padding: 15px 25px;
  background: blue;
  border-radius: 30px;
  color: var(--white);
}