.navbar-nav a { color: var(--purple); }

.bg-header {
  background-image: url("../images/calendar.jpg");
  padding: 350px 0;
}

div.calendar {
  width: 100%;
  padding: 0px;
  margin-left: auto;
  margin-right: auto;
}

iframe {
  margin: 50px auto;
  width: 100%;
}